html,
body {
    background-color: lightgrey;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.carrouselimagenes {
    margin-top: 10px;
}

.apiydireccion {
    margin-top: 10px;
    display: flex;
}

.titulocont {
    font-size: 30px;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.direccion {
    margin-top: 50px;
    margin-left: 50px;
}

.container {
    margin-top: 30px;
}

.formulariocontacto {
    margin-left: 20%;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
    margin-top: 8px;
}

.top-left {
    position: absolute;
    left: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 30px;
}
#botonenviar{
    margin-top: 10px;
}
.links>a {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
}

.m-b-md {
    margin-bottom: 30px;
}

.serviciosofrecidos {
    margin-top: 50px;
    text-align: center;
}

.servicios {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.col-12 {
    margin-left: 20px;
}

.card {
    margin-left: 50px;
}